.search-book-form-field {
    width: 80%;
}

.search-book-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loading-data-content {
    margin-top: 20px;
}

.empty-results {
    margin-top: 10px;
}